main {
  display: flex;
  flex-direction: column;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  padding: 30px 100px;
  z-index: 1000;
}

#header .logo {
  color: #094b65;
  fint-weight: 700;
  text-decoration: none;
  font-size: 2em;
  font-family: AvertaStd-Regular, serif;
}

#header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

#header ul li {
  lsit-style: none;
}

#header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #094b65;
  border-radius: 20px;
  font-family: AvertaStd-Regular, serif;
}

#header ul li a:hover,
#header ul li a.active {
  background: #094b65;
  color: #fff;
}

#scene {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: calc(100vh - 90px);
  overflow: hidden;
}

#scene #text {
  position: absolute;
  color: #094b65;
  transform: translateY(100%);
  font-family: "Rancho", cursive;
  font-size: 8vw;
  white-space: nowrap;
  text-align: center;
}

#scene img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sec {
  position: relative;
  padding: 100px;
  background: #131e1e;
}

.sec h2 {
  font-size: 3.5em;
  color: #fff;
  margin-bottom: 10px;
}

.sec p {
  color: #fff;
  font-size: 1em;
}
